In [375]:
import datetime, pandas, dateutil

In [376]:
first_date = datetime.date(2020,4,2)

In [377]:
last_date = datetime.date.today()

In [378]:
def dates(date, last_date):
   while date <= last_date:
        yield date
        date += datetime.timedelta(days=1)
   return

In [379]:
def format_download(date):
    prefix = "https://www.england.nhs.uk/statistics/wp-content/uploads/sites/2/2020/"
    
    month = date.strftime("%m")
    monthname = date.strftime("%B")
    day_figure = str(int(date.strftime("%d")))
    date_dependent_part = f"{month}/COVID-19-daily-announced-deaths-{day_figure}-{monthname}-2020.xlsx"
    return prefix+date_dependent_part

In [380]:
download_strings = map(format_download, dates(first_date, last_date))

In [480]:
def url_to_dataframe(url):
    import urllib
    try:
        raw = pandas.read_excel(url,sheet_name = "COVID19 daily deaths by region")
    except urllib.error.HTTPError:
        return None
    dates_row = raw.index[raw['Unnamed: 1'].str.contains('NHS England').fillna(False)][0]
    dataframe = pandas.read_excel(url, header = dates_row + 1,index_col = 1, 
            sheet_name = "COVID19 daily deaths by region")
    def stabilise_date_datatype(content):
        try:
            return dateutil.parser.parse(content)
        except TypeError:
            return content
    return (dataframe.select_dtypes(include = ['object'])[dataframe.index.notnull()].
        fillna(0).rename(stabilise_date_datatype, axis='columns'))

In [481]:
dates_list = list(dates(first_date, last_date))
yesterday = dates_list[-2]

In [484]:
url_to_dataframe(format_download(first_date))

,2020-03-01,2020-03-15,2020-03-16,2020-03-17,2020-03-18,2020-03-19,2020-03-20,2020-03-21,2020-03-22,2020-03-23,2020-03-24,2020-03-25,2020-03-26,2020-03-27,2020-03-28,2020-03-29,2020-03-30,2020-03-31,2020-04-01
NHS England Region,,,,,,,,,,,,,,,,,,,
England,1,1,1,1,3,1,2,6,17,4,6,23,29,25,24,130,159,44,84
East Of England,0,0,0,0,0,0,0,2,0,0,0,4,7,4,2,12,14,4,8
London,0,0,0,0,2,0,0,1,7,1,2,11,11,5,9,31,54,13,15
Midlands,1,0,1,0,1,0,0,1,2,2,2,5,5,7,6,26,30,8,8
North East And Yorkshire,0,0,0,0,0,0,0,1,0,0,0,0,1,3,3,25,25,10,28
North West,0,0,0,0,0,1,1,1,6,0,0,0,2,3,3,18,15,4,14
South East,0,1,0,1,0,0,0,0,2,1,2,3,3,3,1,18,14,3,8
South West,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,7,2,3

In [485]:
url_to_dataframe(format_download(dates_list[1]))

,2020-03-09,2020-03-16,2020-03-19,2020-03-20,2020-03-21,2020-03-22,2020-03-23,2020-03-24,2020-03-25,2020-03-26,2020-03-27,2020-03-28,2020-03-29,2020-03-30,2020-03-31,2020-04-01,2020-04-02
NHS England Region,,,,,,,,,,,,,,,,,
England,1,2,1,3,8,5,5,15,13,10,23,29,62,102,59,179,87
East Of England,0,0,1,0,0,0,0,2,2,1,4,2,6,20,4,14,10
London,1,1,0,1,5,2,0,4,5,4,8,4,11,26,30,47,12
Midlands,0,1,0,1,0,3,2,6,1,2,7,10,20,26,11,46,14
North East And Yorkshire,0,0,0,1,1,0,1,0,0,0,1,1,7,6,2,16,26
North West,0,0,0,0,1,0,0,2,2,2,0,6,6,11,7,34,17
South East,0,0,0,0,0,0,0,0,1,0,2,2,8,11,1,11,5
South West,0,0,0,0,1,0,2,1,2,1,1,4,4,2,4,11,3

In [490]:
frames = pandas.concat(dict(map(lambda date:  [date, url_to_dataframe(format_download(date))], dates_list[:-1]))).fillna(0)

In [491]:
frames

                                     2020-03-01  2020-03-03  2020-03-09  \
           NHS England Region
2020-04-02 England                          1.0         0.0         0.0
           East Of England                  0.0         0.0         0.0
           London                           0.0         0.0         0.0
           Midlands                         1.0         0.0         0.0
           North East And Yorkshire         0.0         0.0         0.0
           North West                       0.0         0.0         0.0
           South East                       0.0         0.0         0.0
           South West                       0.0         0.0         0.0
2020-04-03 England                          0.0         0.0         1.0
           East Of England                  0.0         0.0         0.0
           London                           0.0         0.0         1.0
           Midlands                         0.0         0.0         0.0
           North East And Yorkshire         0.0         0.0         0.0
           North West                       0.0         0.0         0.0
           South East                       0.0         0.0         0.0
           South West                       0.0         0.0         0.0
2020-04-04 England                          0.0         1.0         0.0
           East Of England                  0.0         1.0         0.0
           London                           0.0         0.0         0.0
           Midlands                         0.0         0.0         0.0
           North East And Yorkshire         0.0         0.0         0.0
           North West                       0.0         0.0         0.0
           South East                       0.0         0.0         0.0
           South West                       0.0         0.0         0.0
2020-04-05 England                          0.0         0.0         0.0
           East Of England                  0.0         0.0         0.0
           London                           0.0         0.0         0.0
           Midlands                         0.0         0.0         0.0
           North East And Yorkshire         0.0         0.0         0.0
           North West                       0.0         0.0         0.0
           South East                       0.0         0.0         0.0
           South West                       0.0         0.0         0.0
2020-04-06 England                          0.0         0.0         0.0
           East Of England                  0.0         0.0         0.0
           London                           0.0         0.0         0.0
           Midlands                         0.0         0.0         0.0
           North East And Yorkshire         0.0         0.0         0.0
           North West                       0.0         0.0         0.0
           South East                       0.0         0.0         0.0
           South West                       0.0         0.0         0.0
2020-04-07 England                          0.0         0.0         0.0
           East Of England                  0.0         0.0         0.0
           London                           0.0         0.0         0.0
           Midlands                         0.0         0.0         0.0
           North East And Yorkshire         0.0         0.0         0.0
           North West                       0.0         0.0         0.0
           South East                       0.0         0.0         0.0
           South West                       0.0         0.0         0.0

                                     2020-03-11  2020-03-15  2020-03-16  \
           NHS England Region
2020-04-02 England                          0.0         1.0         1.0
           East Of England                  0.0         0.0         0.0
           London                           0.0         0.0         0.0
           Midlands                         0.0         0.0         1.0
           North East And Yorkshire         0.0         0.0         0.0
           North West                       0.0         0.0         0.0
           South East                       0.0         1.0         0.0
           South West                       0.0         0.0         0.0
2020-04-03 England                          0.0         0.0         2.0
           East Of England                  0.0         0.0         0.0
           London                           0.0         0.0         1.0
           Midlands                         0.0         0.0         1.0
           North East And Yorkshire         0.0         0.0         0.0
           North West                       0.0         0.0         0.0
           South East                       0.0         0.0         0.0
           South West                       0.0         0.0         0.0
2020-04-04 England                          0.0         0.0         1.0
           East Of England                  0.0         0.0         0.0
           London                           0.0         0.0         1.0
           Midlands                         0.0         0.0         0.0
           North East And Yorkshire         0.0         0.0         0.0
           North West                       0.0         0.0         0.0
           South East                       0.0         0.0         0.0
           South West                       0.0         0.0         0.0
2020-04-05 England                          0.0         0.0         0.0
           East Of England                  0.0         0.0         0.0
           London                           0.0         0.0         0.0
           Midlands                         0.0         0.0         0.0
           North East And Yorkshire         0.0         0.0         0.0
           North West                       0.0         0.0         0.0
           South East                       0.0         0.0         0.0
           South West                       0.0         0.0         0.0
2020-04-06 England                          1.0         0.0         0.0
           East Of England                  0.0         0.0         0.0
           London                           1.0         0.0         0.0
           Midlands                         0.0         0.0         0.0
           North East And Yorkshire         0.0         0.0         0.0
           North West                       0.0         0.0         0.0
           South East                       0.0         0.0         0.0
           South West                       0.0         0.0         0.0
2020-04-07 England                          0.0         0.0         0.0
           East Of England                  0.0         0.0         0.0
           London                           0.0         0.0         0.0
           Midlands                         0.0         0.0         0.0
           North East And Yorkshire         0.0         0.0         0.0
           North West                       0.0         0.0         0.0
           South East                       0.0         0.0         0.0
           South West                       0.0         0.0         0.0

                                     2020-03-17  2020-03-18  2020-03-19  \
           NHS England Region
2020-04-02 England                          1.0         3.0         1.0
           East Of England                  0.0         0.0         0.0
           London                           0.0         2.0         0.0
           Midlands                         0.0         1.0         0.0
           North East And Yorkshire         0.0         0.0         0.0
           North West                       0.0         0.0         1.0
           South East                       1.0         0.0         0.0
           South West                       0.0         0.0         0.0
2020-04-03 England                          0.0         0.0         1.0
           East Of England                  0.0         0.0         1.0
           London                           0.0         0.0         0.0
           Midlands                         0.0         0.0         0.0
           North East And Yorkshire         0.0         0.0         0.0
           North West                       0.0         0.0         0.0
           South East                       0.0         0.0         0.0
           South West                       0.0         0.0         0.0
2020-04-04 England                          0.0         1.0         0.0
           East Of England                  0.0         0.0         0.0
           London                           0.0         1.0         0.0
           Midlands                         0.0         0.0         0.0
           North East And Yorkshire         0.0         0.0         0.0
           North West                       0.0         0.0         0.0
           South East                       0.0         0.0         0.0
           South West                       0.0         0.0         0.0
2020-04-05 England                          0.0         0.0         0.0
           East Of England                  0.0         0.0         0.0
           London                           0.0         0.0         0.0
           Midlands                         0.0         0.0         0.0
           North East And Yorkshire         0.0         0.0         0.0
           North West                       0.0         0.0         0.0
           South East                       0.0         0.0         0.0
           South West                       0.0         0.0         0.0
2020-04-06 England                          0.0         0.0         1.0
           East Of England                  0.0         0.0         0.0
           London                           0.0         0.0         0.0
           Midlands                         0.0         0.0         1.0
           North East And Yorkshire         0.0         0.0         0.0
           North West                       0.0         0.0         0.0
           South East                       0.0         0.0         0.0
           South West                       0.0         0.0         0.0
2020-04-07 England                          0.0         0.0         1.0
           East Of England                  0.0         0.0         0.0
           London                           0.0         0.0         1.0
           Midlands                         0.0         0.0         0.0
           North East And Yorkshire         0.0         0.0         0.0
           North West                       0.0         0.0         0.0
           South East                       0.0         0.0         0.0
           South West                       0.0         0.0         0.0

                                     2020-03-20  ...  2020-03-28  2020-03-29  \
           NHS England Region                    ...
2020-04-02 England                            2  ...          24         130
           East Of England                    0  ...           2          12
           London                             0  ...           9          31
           Midlands                           0  ...           6          26
           North East And Yorkshire           0  ...           3          25
           North West                         1  ...           3          18
           South East                         0  ...           1          18
           South West                         1  ...           0           0
2020-04-03 England                            3  ...          29          62
           East Of England                    0  ...           2           6
           London                             1  ...           4          11
           Midlands                           1  ...          10          20
           North East And Yorkshire           1  ...           1           7
           North West                         0  ...           6           6
           South East                         0  ...           2           8
           South West                         0  ...           4           4
2020-04-04 England                            5  ...          17          57
           East Of England                    0  ...           0           5
           London                             3  ...           2           9
           Midlands                           1  ...          14          34
           North East And Yorkshire           0  ...           1           2
           North West                         0  ...           0           3
           South East                         1  ...           0           3
           South West                         0  ...           0           1
2020-04-05 England                            1  ...           7          25
           East Of England                    0  ...           1           0
           London                             1  ...           2          15
           Midlands                           0  ...           2           2
           North East And Yorkshire           0  ...           0           0
           North West                         0  ...           0           0
           South East                         0  ...           1           8
           South West                         0  ...           1           0
2020-04-06 England                            3  ...           2           5
           East Of England                    0  ...           1           4
           London                             2  ...           1           0
           Midlands                           0  ...           0           0
           North East And Yorkshire           0  ...           0           0
           North West                         1  ...           0           0
           South East                         0  ...           0           1
           South West                         0  ...           0           0
2020-04-07 England                            1  ...           1           6
           East Of England                    0  ...           0           3
           London                             1  ...           1           3
           Midlands                           0  ...           0           0
           North East And Yorkshire           0  ...           0           0
           North West                         0  ...           0           0
           South East                         0  ...           0           0
           South West                         0  ...           0           0

                                     2020-03-30  2020-03-31  2020-04-01  \
           NHS England Region
2020-04-02 England                          159          44          84
           East Of England                   14           4           8
           London                            54          13          15
           Midlands                          30           8           8
           North East And Yorkshire          25          10          28
           North West                        15           4          14
           South East                        14           3           8
           South West                         7           2           3
2020-04-03 England                          102          59         179
           East Of England                   20           4          14
           London                            26          30          47
           Midlands                          26          11          46
           North East And Yorkshire           6           2          16
           North West                        11           7          34
           South East                        11           1          11
           South West                         2           4          11
2020-04-04 England                           46          26         134
           East Of England                   12           2           9
           London                             3           5          38
           Midlands                          24          12          36
           North East And Yorkshire           1           0           9
           North West                         4           5          22
           South East                         2           2          14
           South West                         0           0           6
2020-04-05 England                           29          19          51
           East Of England                    2           2           5
           London                            16           3          15
           Midlands                           2           2          10
           North East And Yorkshire           0           1           3
           North West                         0           1           4
           South East                         9          10          11
           South West                         0           0           3
2020-04-06 England                            7           5          14
           East Of England                    2           1           0
           London                             2           1           9
           Midlands                           2           1           3
           North East And Yorkshire           0           0           0
           North West                         0           2           0
           South East                         1           0           2
           South West                         0           0           0
2020-04-07 England                            9          22          33
           East Of England                    4           6          14
           London                             3          10          12
           Midlands                           1           3           3
           North East And Yorkshire           0           0           0
           North West                         1           1           1
           South East                         0           2           3
           South West                         0           0           0

                                     2020-04-02  2020-04-03  2020-04-04  \
           NHS England Region
2020-04-02 England                          0.0         0.0         0.0
           East Of England                  0.0         0.0         0.0
           London                           0.0         0.0         0.0
           Midlands                         0.0         0.0         0.0
           North East And Yorkshire         0.0         0.0         0.0
           North West                       0.0         0.0         0.0
           South East                       0.0         0.0         0.0
           South West                       0.0         0.0         0.0
2020-04-03 England                         87.0         0.0         0.0
           East Of England                 10.0         0.0         0.0
           London                          12.0         0.0         0.0
           Midlands                        14.0         0.0         0.0
           North East And Yorkshire        26.0         0.0         0.0
           North West                      17.0         0.0         0.0
           South East                       5.0         0.0         0.0
           South West                       3.0         0.0         0.0
2020-04-04 England                        199.0        99.0         0.0
           East Of England                 20.0        12.0         0.0
           London                          34.0        15.0         0.0
           Midlands                        55.0        15.0         0.0
           North East And Yorkshire        30.0        30.0         0.0
           North West                      38.0        21.0         0.0
           South East                      16.0         2.0         0.0
           South West                       6.0         4.0         0.0
2020-04-05 England                        114.0       181.0        97.0